
@{
    ViewBag.Title = "Events & Workshop | MEDIBLESS Viet Nam";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/Events&Workshop.css">


<div class="con pt-5">
    <div class="container section-title-container">
        <h3 class="section-title section-title-center">
            <b></b>
            <span class="section-title-main" style="color: #25cbd3">
                EVENTS &amp;
                WORKSHOP
            </span>
            <b></b>
        </h3>
    </div>
</div>
<div class="con pt-5">
    <div class="r pb-5">
        <div class="c-s-12 c-m-4 c-l-4 pl-3 pr-3 animated wow fadeInLeft" data-wow-delay="1s">
            <div>
                <a href="@Url.Action("EventsWorkshop_Details", "TinTuc",  new { @numOfEvents = 7 })"><img class="img_evt_1 " src="~/Images/img_evt_1.png"></a>
            </div>
            <div>
                <p class="txt_evt"> EVENTS & WORKSHOP</p>
                <h4 class="txt_evt_2">KIMES 2017 (16~19/03/2017)</h4>
                <a href="@Url.Action("EventsWorkshop_Details", "TinTuc",  new { @numOfEvents = 7 })">
                    <p class="txt_evt_3">
                        KIMES 2017 được tổ chức tại phòng triển lãm COEX tại Samseong-dong,
                        Seoul, Hàn quốc [...]
                    </p>
                </a>
            </div>
            <div class="badge absolute top post-date badge-outline">
                <div class="badge-inner">
                    <span class="post-date-day">17</span><br>
                    <span class="post-date-month is-xsmall">Th7</span>
                </div>
            </div>
        </div>
        <div class="c-s-12 c-m-4 c-l-4 pl-3 pr-3 animated wow fadeInDown" data-wow-delay="1s">
            <div>
                <a href="@Url.Action("EventsWorkshop_Details", "TinTuc",  new { @numOfEvents = 2 })"><img class="img_evt_2" src="~/Images/img_evt_2.png"></a>
            </div>
            <div>
                <p class="txt_evt"> EVENTS & WORKSHOP</p>
                <h4 class="txt_evt_2">Hội thảo trên web của INNOJECTOR</h4>
                <a href="@Url.Action("EventsWorkshop_Details", "TinTuc",  new { @numOfEvents = 2 })">
                    <p class="txt_evt_3">
                        ​Hội thảo trên web của INNOJECTOR – 14/07 lúc 13:00h – Chương trình
                        [...]
                    </p>
                </a>
            </div>
            <div class="badge absolute top post-date badge-outline">
                <div class="badge-inner">
                    <span class="post-date-day">17</span><br>
                    <span class="post-date-month is-xsmall">Th7</span>
                </div>
            </div>
        </div>
        <div class="c-s-12 c-m-4 c-l-4 pl-3 pr-3 animated wow fadeInRight" data-wow-delay="1s">
            <div>
                <a href="@Url.Action("EventsWorkshop_Details", "TinTuc",  new { @numOfEvents = 3 })"><img class="img_evt_3" src="~/Images/img_evt_3.png"></a>
            </div>
            <div>
                <p class="txt_evt"> EVENTS & WORKSHOP</p>
                <h4 class="txt_evt_2">Arab health 2017</h4>
                <a href="@Url.Action("EventsWorkshop_Details", "TinTuc",  new { @numOfEvents = 3 })">
                    <p class="txt_evt_3">
                        INNOJECTOR được triển lãm tại Arab Health 2017 – Dubai ICEC, UAE –
                        30/01/2017 ~ [...]
                    </p>
                </a>
            </div>
            <div class="badge absolute top post-date badge-outline">
                <div class="badge-inner">
                    <span class="post-date-day">17</span><br>
                    <span class="post-date-month is-xsmall">Th7</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="con">
    <div class="r pb-5">
        <div class="c-s-12 c-m-4 c-l-4 pl-3 pr-3 animated wow fadeInLeft" data-wow-delay="1s">
            <div>
                <a href="@Url.Action("EventsWorkshop_Details", "TinTuc",  new { @numOfEvents = 4 })"><img class="img_evt_4" src="~/Images/img_evt_4.png"></a>
            </div>
            <div>
                <p class="txt_evt"> EVENTS & WORKSHOP</p>
                <h4 class="txt_evt_2">
                    Cuộc họp mùa thu thường niên lần thứ 19 của Hiệp hội Da liễu Hàn quốc
                    (06/11/2016)
                </h4>
                <a href="@Url.Action("EventsWorkshop_Details", "TinTuc",  new { @numOfEvents = 4 })">
                    <p class="txt_evt_3">
                        INNOJECTOR được giới thiệu tại Cuộc họp mùa thu thường niên lần thứ 19
                        của [...]
                    </p>
                </a>
            </div>
            <div class="badge absolute top post-date badge-outline">
                <div class="badge-inner">
                    <span class="post-date-day">17</span><br>
                    <span class="post-date-month is-xsmall">Th7</span>
                </div>
            </div>
        </div>
        <div class="c-s-12 c-m-4 c-l-4 pl-3 pr-3 animated wow fadeInUp" data-wow-delay="1s">
            <div>
                <a href="@Url.Action("EventsWorkshop_Details", "TinTuc",  new { @numOfEvents = 1 })"><img class="img_evt_5" src="~/Images/img_evt_5.png"></a>
            </div>
            <div>
                <p class="txt_evt">EVENTS & WORKSHOP</p>
                <h4 class="txt_evt_2">Hội thảo INNOJECTOR tại Bangkok (03/06/2016)</h4>
                <a href="@Url.Action("EventsWorkshop_Details", "TinTuc",  new { @numOfEvents = 1 })">
                    <p class="txt_evt_3">
                        Hội thảo INNOJECTOR tại Bangkok – 03/06/2016 – Bài giảng, Thực hành
                        Wonik & Harmony [...]
                    </p>
                </a>
            </div>
            <div class="badge absolute top post-date badge-outline">
                <div class="badge-inner">
                    <span class="post-date-day">17</span><br>
                    <span class="post-date-month is-xsmall">Th7</span>
                </div>
            </div>
        </div>
        <div class="c-s-12 c-m-4 c-l-4 pl-3 pr-3 animated wow fadeInRight" data-wow-delay="1s">
            <div>
                <a href="@Url.Action("EventsWorkshop_Details", "TinTuc",  new { @numOfEvents = 5 })"><img class="img_evt_6" src="~/Images/img_evt_6.png"></a>
            </div>
            <div>
                <p class="txt_evt"> EVENTS & WORKSHOP</p>
                <h4 class="txt_evt_2">Các bác sĩ chính của Nhật Bản đến thăm và có cuộc họp ở Hàn quốc</h4>
                <a href="@Url.Action("EventsWorkshop_Details", "TinTuc",  new { @numOfEvents = 5 })">
                    <p class="txt_evt_3">Các bác sĩ chính của Nhật Bản đến thăm và có cuộc họp ở Hàn [...]</p>
                </a>
            </div>
            <div class="badge absolute top post-date badge-outline">
                <div class="badge-inner">
                    <span class="post-date-day">17</span><br>
                    <span class="post-date-month is-xsmall">Th7</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="con">
    <div class="r pb-5">
        <div class="c-s-12 c-m-4 c-l-4 animated wow fadeInLeft" data-wow-delay="1s">
            <div>
                <a href="@Url.Action("EventsWorkshop_Details", "TinTuc",  new { @numOfEvents = 6 })"><img class="img_evt_7" src="~/Images/img_evt_7.png"></a>
            </div>
            <div>
                <p class="txt_evt"> EVENTS & WORKSHOP</p>
                <h4 class="txt_evt_2">Hội Khoa học Da liễu và Thẩm mỹ Nhật Bản</h4>
                <a href="@Url.Action("EventsWorkshop_Details", "TinTuc",  new { @numOfEvents = 6 })">
                    <p class="txt_evt_3">
                        INNOJECTOR được trưng bày tại Hội khoa học Da liễu và Thẩm mỹ Nhật Bản
                        [...]
                    </p>
                </a>
            </div>
            <div class="badge absolute top post-date badge-outline">
                <div class="badge-inner">
                    <span class="post-date-day">17</span><br>
                    <span class="post-date-month is-xsmall">Th7</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="con pb-5">
    <div class="boder3">

    </div>
</div>

